#header>h1 {
			text-align:center;
			margin-top: 0px;
			margin-bottom: 15px;
			/*display: none;*/
}

.form_heading {
				background-color: #4BB4B9;
				padding: 0px 10px 5px 10px;
				position: relative;
				margin: 5px 0 5px 0;
				top: 0px;
				
}